a {
  color: #616a74; }
  a:hover {
    color: #CCC; }

#viewport {
  color: #333;
  position: relative; }
  #viewport.container {
    padding: 60px 0 0 0; }

#status-bar,
#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 999;
  background-color: #fff; }
  #status-bar > a,
  #nav-bar > a {
    text-align: center;
    line-height: 44px;
    display: block;
    background-color: #fff;
    -webkit-backdrop-filter: blur(5px);
    border-top: 1px solid #CCC;
    text-decoration: none;
    color: #666;
    font-weight: bold; }
  #status-bar .btn-group,
  #nav-bar .btn-group {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px; }
    #status-bar .btn-group .btn,
    #nav-bar .btn-group .btn {
      border-radius: 0;
      padding: 11px 12px;
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: none; }
      #status-bar .btn-group .btn:first-child,
      #nav-bar .btn-group .btn:first-child {
        margin: 0 20px;
        border-right: none; }
      #status-bar .btn-group .btn:last-of-type,
      #nav-bar .btn-group .btn:last-of-type {
        border-left: none; }

textarea {
  resize: none;
  border: 1px solid #DDD;
  padding: 15px;
  outline: none;
  width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;
  font-family: 'Arvo', serif;
  font-size: 16px; }

#status-box {
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 40px;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 1000;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
  left: 0;
  top: 0;
  overflow: scroll;
  display: none; }
  #status-box #image-preview img {
    max-width: 100%;
    margin-bottom: 10px; }

.data-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.cell {
  position: relative;
  border: 1px solid #eee;
  display: block;
  width: 100%;
  padding: 15px 25px; }

.group:first-child {
  border-bottom: none; }
.group:last-child {
  border-top: none; }

.status {
  border-radius: 2px;
  margin-bottom: 40px;
  padding: 0;
  color: #616a74;
  font-family: 'Arvo', serif;
  font-size: 16px; }
  .status .header {
    padding: 15px 25px;
    font-size: 12px; }
    .status .header .avatar {
      overflow: hidden;
      border-radius: 5px;
      margin-right: 5px; }
    .status .header .action {
      margin: 0 4px; }
    .status .header .group {
      background-color: #616a74;
      color: #eee;
      font-size: 14px;
      padding: 7px 10px;
      position: absolute;
      right: 0;
      top: 50px; }
  .status .nav {
    display: block;
    margin: 0 10px;
    position: absolute;
    top: 13px;
    left: 0; }
  .status .media {
    margin: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .status .content {
    padding: 25px; }
    .status .content p {
      line-height: 24px;
      margin-bottom: 30px; }
      .status .content p:last-of-type {
        margin-bottom: 0; }
  .status .author {
    font-family: 'Bevan', serif;
    font-size: 16px; }
  .status .time-published {
    color: #CCC;
    font-size: 12px;
    margin-left: 6px; }
  .status .visibility a {
    color: #999; }
    .status .visibility a:hover {
      color: inherit; }
  .status .visibility.private .fa-unlock {
    display: none; }
  .status .visibility.public .fa-lock {
    display: none; }
  .status .image img {
    max-width: 100%; }
  .status #comment-entry {
    margin: 0 25px; }
    .status #comment-entry textarea {
      border: none;
      border-radius: 0;
      padding: 20px 0; }
  .status .actions {
    margin: 0 20px;
    padding: 20px 0;
    border-top: 1px solid #F5F5F5; }
    .status .actions .btn-group {
      border-color: 1px solid #eee; }
      .status .actions .btn-group .btn {
        font-size: 12px;
        color: #616a74;
        border-color: #eee; }
    .status .actions .topic {
      margin-left: 10px;
      font-size: 14px; }
  .status.single {
    margin-top: 30px; }
  .status #comments {
    border-top: 1px solid #eee;
    padding-top: 10px; }
  .status .comment-author {
    color: #616a74;
    margin-right: 5px;
    font-family: 'Bevan', serif; }
  .status .comment {
    padding: 7px 0;
    margin: 0 25px;
    color: #888;
    font-size: 14px; }

.ad {
  padding: 5px 20px 5px 15px;
  color: #888;
  border: 1px solid #F5F5F5;
  border-radius: 2px;
  margin: 20px 20px 40px 10px;
  max-width: 80%;
  display: block; }
  .ad h4 {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold; }

@media (max-width: 400px) {
  #status-box,
  .status {
    border-radius: 0;
    border-left: none;
    border-right: none; } }

/*# sourceMappingURL=nock.css.map */
