body {
	/*background-color: #252830;*/
}

#status-box {
	
	box-sizing: border-box;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 40px;
	border: 1px solid #ddd;

	textarea {
		resize: none;
		border: 1px solid #CCC;
		padding: 15px;
		outline: none;
		width: 100%;
		border-radius: 3px;
		-webkit-appearance: none;
	}

}

.status {
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 15px 15px 5px;
	margin-bottom: 40px;

	.header {
		margin-bottom: 15px;

		.action {
			margin: 0 4px;
		}
		
	}

	.author {
		font-weight: bold;
	}

	.time-published {
		color: #CCC;
	}

}